/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 24, 2022, 8:53:40 AM
    Author     : Eman
*/

.root{
   -fx-background-image: url('/res/BackGround.JPG'); 
   -fx-background-size: cover;
    
}

.button{
    -fx-background-radius: 30,30,30,30
}

.mygridStyle Line {
  -fx-stroke: yellow;
}




